<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621435768123-7hbev1ihto35i9n8uqv0k4678p9afkar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621435768123-7hbev1ihto35i9n8uqv0k4678p9afkar</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>621435768123-ucicsb2pkipruj4i4bambtukeui9ioba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYZ6FkNhE4dvaZGY-HF3ovS6e-mXhY3dc</string>
	<key>GCM_SENDER_ID</key>
	<string>621435768123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f3</string>
	<key>PROJECT_ID</key>
	<string>foodapp-12e04</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-12e04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621435768123:ios:b1e70ea1bf450dcf97fb1e</string>
</dict>
</plist>